<html ng-app="qaApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Q&A </title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="AppCtrl" ng-cloak>

<md-toolbar class="md-hue-2 qa-header" md-scroll-shrink>
    <div class="md-toolbar-tools">
        <h2>
            <a href="#/"><span>Q&A Portal</span></a>
        </h2>
        <span flex></span>
        <md-button class="md-fab" aria-label="Ask Question" ng-click="showDialog($event)">
            <md-tooltip>
                Ask Question
            </md-tooltip>
            <md-icon class="material-icons">add</md-icon>
        </md-button>
    </div>
</md-toolbar>

<div ng-view></div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
<script src="js/global.min.js"></script>

</body>
</html>