.content {
  h1 {
    padding: 0 16px;
    margin: 0;
  }

  .post-description,
  .post-author {
    padding: 0 16px;
  }

  .post-author,
  .answers-list .post-author {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.36);
    text-align: right;
  }

  .answers-list {
    padding: 0;

    .post-author {
      padding: 0;
    }
  }

  md-content {
    background-color: #eee;
  }

  .post-answer {
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.62);
    margin-bottom: 0;
  }

  .top-control {
    background-color: #eee;
    border-bottom: 1px solid rgba(0,0,0,0.12);

    .md-button.md-icon-button {
      height: 48px;
      width: 48px;

      .material-icons {
        width: 28px;
        height: 28px;
        font-size: 28px;
      }
    }
  }
}