<md-dialog aria-label="Ask Question" flex="50">
    <form name="addQuestion">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Ask Question</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>User Name</label>
                    <input name="aName" ng-model="newQuestion.name" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Question Title</label>
                    <input name="aTitle" ng-model="newQuestion.title" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Question Description</label>
                    <textarea name="aDescription" ng-model="newQuestion.description" columns="5" md-maxlength="1020" required></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()"> Cancel </md-button>
            <md-button class="md-primary" ng-click="setQuestion()"> Add </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>