<md-content class="content content-list">
    <md-tabs md-center-tabs md-dynamic-height md-border-bottom>

        <md-tab label="all">
            <md-content class="md-padding">

                <div role="tabpanel" layout="row" layout-align="center center">
                    <md-card flex-gt-sm="90" flex-gt-md="80">
                        <md-card-content>
                            <h1 class="md-display-2">All</h1>

                            <md-list>
                                <md-list-item class="md-3-line" ng-repeat="question in questions.data | orderBy:'date':true">
                                    <div class="md-list-item-text">
                                        <h4><a href="#/question/{{question.id}}" class="md-body-1">{{question.title}}</a></h4>
                                        <p><a href="#/question/{{question.id}}" class="md-body-1">{{question.description | limitTo:250}}...</a></p>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>

            </md-content>
        </md-tab>

        <md-tab label="answered">
            <md-content class="md-padding">

                <div role="tabpanel" layout="row" layout-align="center center">
                    <md-card flex-gt-sm="90" flex-gt-md="80">
                        <md-card-content>
                            <h1 class="md-display-2">Answered</h1>

                            <md-list>
                                <md-list-item class="md-3-line" ng-repeat="question in questions.data | filter:{answers:'!0'} | orderBy:'date':true">
                                    <div class="md-list-item-text">
                                        <h4><a href="#/question/{{question.id}}">{{question.title}}</a></h4>
                                        <p><a href="#/question/{{question.id}}">{{question.description | limitTo:250}}...</a></p>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>

            </md-content>
        </md-tab>

        <md-tab label="isn't answered">
            <md-content class="md-padding">

                <div role="tabpanel" layout="row" layout-align="center center">
                    <md-card flex-gt-sm="90" flex-gt-md="80">
                        <md-card-content>
                            <h1 class="md-display-2">Isn't Answered</h1>

                            <md-list>
                                <md-list-item class="md-3-line" ng-repeat="question in questions.data | filter:{answers:'0'} | orderBy:'date':true">
                                    <div class="md-list-item-text">
                                        <h4><a href="#/question/{{question.id}}">{{question.title}}</a></h4>
                                        <p><a href="#/question/{{question.id}}">{{question.description | limitTo:250}}...</a></p>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>

            </md-content>
        </md-tab>

    </md-tabs>
</md-content>