<md-content class="content content-question" ng-controller="questionCtrl">
    <div class="top-control">
        <md-button class="md-icon-button" aria-label="Home" ng-click="goBack($event)">
            <md-tooltip>
                Home
            </md-tooltip>
            <md-icon class="material-icons">keyboard_backspace</md-icon>
        </md-button>
    </div>

    <md-content class="md-padding">

        <div role="tabpanel" layout="row" layout-align="center center">
            <md-card flex-gt-sm="90" flex-gt-md="80">
                <md-card-content>
                    <h1 class="md-display-2 question-title">{{question.title}}</h1>
                    <p class="post-description">{{question.description}}</p>
                    <p class="post-author">Asked {{question.date | dateToISO | date:'medium'}} by {{question.name}}</p>

                    <md-content>
                        <md-list class="answers-list">
                            <md-list-item class="md-3-line" ng-repeat="answer in answers.data">
                                <div class="md-list-item-text">
                                    <p>{{answer.text}}</p>
                                    <p class="post-author">Answered at {{answer.date | dateToISO | date:'medium'}} by {{answer.name}}</p>
                                </div>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>

                        <form class="post-answer" name="addAnswer">
                            <div>
                                <md-input-container class="md-block">
                                    <label>User Name</label>
                                    <input name="aName" ng-model="newAnswer.name" required>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Answer</label>
                                    <textarea name="aText" ng-model="newAnswer.text" columns="5" md-maxlength="1020" required></textarea>
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <md-button class="md-raised md-primary" ng-click="answer()"> Post Your Answer </md-button>
                            </div>
                        </form>
                    </md-content>
                </md-card-content>
            </md-card>
        </div>

    </md-content>
</md-content>